.bg-surface-container-low.m-100 {
  margin-top: 100px;
  > div {
    .gap-gutter {
      .md\:col-start-2 {
        grid-column: span 5 / span 5 !important;
        h2 {
          line-height: 120%;
          letter-spacing: -0.02em;
          font-weight: 400;
        }
        .font-body-lg {
          margin-bottom: 2.5rem;
        }
      }
      .md\:col-start-7 {
        grid-column: span 7 / span 7 !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
      }
    }
  }
}
input:focus-visible {
  outline: 0;
}
input {
  padding: 10px;
}
a.menu {
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}
a.menu:hover {
  color: #d3aa6f !important;
  border-bottom: 2px solid #d3aa6f;
}
.nav .active {
  color: #d3aa6f !important;
  border-bottom: 2px solid #d3aa6f;
}
.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(22, 22, 22, 0.1) 0%,
    rgba(22, 22, 22, 0.4) 100%
  );
}
