---
const { data } = Astro.props;
const { Heading: HeadingConponent = [], Image = [] } = data;
const { Heading, Description } = HeadingConponent;
import { getImageUrl } from "../../lib/getImageUrl";
---

<section
  class="px-grid-margin-desktop max-w-[1440px] mx-auto gallery py-0 lg:py-section-gap-lg"
>
  <h2
    class="font-display-xl text-headline-lg text-tertiary mb-section-gap-md text-center"
  >
    {Heading}
  </h2>
  <div class="columns-1 md:columns-2 lg:columns-3 gap-8">
    {
      Image?.map((img, index) => (
        <div
          class="mb-8 reveal-up overflow-hidden break-inside-avoid"
          style={`transition-delay:${index * 100}ms`}
        >
          <a href={getImageUrl(img?.url)} data-fancybox="gallery">
            <img
              class="w-full hover:scale-105 transition-transform duration-1000 cursor-zoom-in"
              src={getImageUrl(img?.url)}
              alt={img?.alternativeText || `Gallery ${index + 1}`}
              loading="lazy"
            />
          </a>
        </div>
      ))
    }
  </div>
</section>
